useDynLib(vcolmm, .registration = TRUE)

import("grid", "methods", "partykit")

## Generics for which we define new methods
importFrom("Formula", "as.Formula", Formula)
importFrom("graphics", plot)
importFrom("mboost", extract)
importFrom("nlme", fixef, ranef, VarCorr)
importFrom("numDeriv", hessian)
importFrom("party", reweight)
importFrom("rpart", prune)
importFrom("sandwich", estfun)
importFrom("stats",
           anova,
           coef, coefficients,
           deviance,
           extractAIC,
           fitted,
           formula,
           getCall,
           logLik,
           model.frame,
           model.matrix,
           predict,
           resid, residuals,
           terms,
           update,
           vcov,
           weights)
importFrom("strucchange", gefp, sctest, supLM, catL2BB, root.matrix)
importFrom("ucminf", ucminf)
importFrom("zoo", zoo)

## Exported S4 classes
exportClasses(olmm)

## Exports
export(
  cv.tvcolmm, # new
  fvcolmm, # new
  fvcolmm_control, # new
  estfun.olmm,
  extract,
  fixef,
  gefp.olmm,
  neglogLik, # new
  otsplot, # new
  olmm, # new
  olmm_scoreTransfMat,
  prune,
  ranef,
  ranefCov, # new
  splitpath, # new
  tvcolmm_control, # new
  tvcolmm_folds, # new
  tvcolmm, # new
  stabpath.tvcolmm,
  VarCorr) # new

## Exports for olmm (S3)
S3method(anova, olmm)
S3method(coef, olmm)
S3method(coefficients, olmm)
S3method(deviance, olmm)
S3method(drop1, olmm)
S3method(estfun, olmm)
S3method(extractAIC, olmm)
S3method(fitted, olmm)
S3method(fixef, olmm)
S3method(formula, olmm)
S3method(getCall, olmm)
S3method(logLik, olmm)
S3method(model.frame, olmm)
S3method(model.matrix, olmm)
S3method(neglogLik, olmm)
S3method(predict, olmm)
S3method(print, olmm)
S3method(ranef, olmm)
S3method(ranefCov, olmm)
S3method(resid, olmm)
S3method(residuals, olmm)
# S3method(reweight, olmm)
S3method(summary, olmm)
S3method(print, summary.olmm)
S3method(terms, olmm)
S3method(update, olmm)
S3method(VarCorr, olmm)
S3method(print, VarCorr.olmm)
S3method(vcov, olmm)
S3method(weights, olmm)

## Exports for olmm (S4)
exportMethods(show)

## Exports for otsplot (S3)
S3method(otsplot, default)
S3method(otsplot, formula)
S3method(print, otsplot)

## Exports for tvcolmm (S3)
S3method(coef, tvcolmm)
S3method(coefficients, tvcolmm)
S3method(extract, tvcolmm)
S3method(getCall, tvcolmm)
S3method(fitted, tvcolmm)
S3method(logLik, tvcolmm)
S3method(model.frame, tvcolmm)
S3method(neglogLik, tvcolmm)
S3method(plot, tvcolmm)
S3method(predict, tvcolmm)
S3method(print, tvcolmm)
S3method(prune, tvcolmm)
S3method(ranef, tvcolmm)
S3method(resid, tvcolmm)
S3method(residuals, tvcolmm)
S3method(splitpath, tvcolmm)
S3method(print, splitpath.tvcolmm)
S3method(weights, tvcolmm)

## Exports for fvcolmm (S3)
S3method(logLik, fvcolmm)
S3method(neglogLik, fvcolmm)
S3method(predict, fvcolmm)
S3method(print, fvcolmm)
S3method(plot, cv.tvcolmm)
S3method(print, cv.tvcolmm)
S3method(plot, stabpath.tvcolmm)
S3method(print, stabpath.tvcolmm)
