export(trmatplot, march.Dcmm.trmatplot)
import("TraMineR", "colorspace")
#importFrom(TraMineR,seqdef)
#importFrom(TraMineR,seqpcplot)
#importFrom(colorspace,rainbow_hcl)
#importFrom(colorspace,heat_hcl)
#importFrom(colorspace,terrain_hcl)

#Export method "plot" for class "trmatplot"
S3method(plot, trmatplot)

#Export method "trmatplot" for class "default"
S3method(trmatplot, default)

#Export method "trmatplot" for class "depmix.fitted"
S3method(trmatplot, depmix.fitted)

#Export method "trmatplot" for class "array"
S3method(trmatplot, array)

#Export method "trmatplot" for class "march.Dcmm"
#s3method(trmatplot, march.Dcmm)
