import(TraMineR, cluster)
importFrom(utils, packageDescription, packageVersion)

export(
as.clustrange,
as.seqtree,
dtcut,
wcAggregateCases,
wcClusterQuality,
wcCmpCluster,
wcKMedoids,
wcKMedRange,
wcSilhouetteObs,
seqclustname,
seqpropclust
)

S3method(as.clustrange, hclust)
S3method(as.clustrange, twins)
S3method(as.clustrange, default)
S3method(as.clustrange, dtclust)
S3method(as.seqtree, hclust)
S3method(as.seqtree, twins)
S3method(as.seqtree, default)

S3method(print, clustrange)
S3method(plot, clustrange)
S3method(summary, clustrange)

S3method(print, clustrangefamily)
S3method(plot, clustrangefamily)
S3method(summary, clustrangefamily)

S3method(print, kmedoids)


S3method(print, wcAggregateCases)
S3method(wcAggregateCases, data.frame)
S3method(wcAggregateCases, matrix)


S3method(plot, seqtree)
S3method(plot, disstree)
S3method(plot, dtclust)
S3method(plot, seqtreeclust)


useDynLib(WeightedCluster,
wc_RKmedoids=RKmedoids,
wc_RClusterQualSimple=RClusterQualSimple,
wc_RClusterQual=RClusterQual,
wc_RClusterQualKendallFactory=RClusterQualKendallFactory,
wc_RClusterQualKendall=RClusterQualKendall,
wc_RClusterComputeIndivASW=RClusterComputeIndivASW,
wc_RClusterQualBootSeveral=RClusterQualBootSeveral
)
