import(TraMineR)
importFrom("utils", "packageDescription", "packageVersion")
importFrom("graphics", "abline", "axis", "box", "layout", "legend", "lines", "par", "plot", "points", "rect", "segments", "text", "title", "boxplot","strheight", "strwidth")
importFrom("grDevices", "col2rgb", "hsv", "rgb", "rgb2hsv")
importFrom("stats", "chisq.test", "cutree", "glm", "princomp", "reshape", "runif", "xtabs", "as.dist", "binomial", "cmdscale", "hclust","pnorm", "qnorm")
importFrom("cluster", "daisy", "pam", "agnes")
##importFrom("combinat", "permn")
importFrom("RColorBrewer","brewer.pal")
importFrom("survival","survfit", "coxph", "Surv")

export(
    group.p,
    convert.g,
    pamward,
    rowmode,
    seqplot.tentrop,
    seqplot.rf,
    sorti,
    sortv,
    toPersonPeriod,
    FCE_to_TSE,
    HSPELL_to_STS,
    seqe2stm,
    TSE_to_STS,
    seqedist,
    seqedplot,
    createdatadiscrete,
    seqerulesdisc,
    seqstart,
    ##seqeordplot,
    seqrep.grp,
    dissvar.grp,
    seqgen.missing,
    seqgranularity,
    seqauto,
    seqentrans,
    seqemlt,
    seqimplic,
    seqtabstocc,
    seqsurv,
    seqsplot
)

## emlt methods
S3method(plot, emlt)
S3method(print, emlt)

## seqimplic methods
S3method(plot, seqimplic)
S3method(print, seqimplic)

## seqimplic methods
S3method(plot, seqimplic)
S3method(print, seqimplic)

## stlist.surv methods
S3method(plot, stslist.surv)


useDynLib(TraMineRextras,
  .registration = TRUE,
  TMREXTRAS_tmrextrasseqstart=tmrextrasseqstart
)

