import(TraMineR)
import(survival)

export(
    group.p,
    convert.g,
    ctplot,
    pamward,
    rowmode,
    seqplot.tentrop,
    sorti,
    sortv,
    toPersonPeriod,
    FCE_to_TSE,
    HSPELL_to_STS,
    seqe2stm,
    TSE_to_STS,
    seqedist,
    seqedplot,
    createdatadiscrete,
    seqerulesdisc,
    seqstart,
    seqeordplot,
    seqrep.grp
    
)
